body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ccef0;
}

header {
    background-color: #448de1;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #033363;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 0;
  }
  
  main {
    padding: 20px;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #030753;
  }
  
  a {
    background-color: #030753;
    color: rgb(164, 207, 231);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  

