<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="static\css\homestyle.css">
</head>
<body>
    <header>
    <nav>
        The Digit Recognizer
    </nav>
    <h1>Welcome to Kannada Digit Recognizer</h1>
    <h2>This is the demo of how our ML model <br> "Kannada digits Recognition"</h2>
</header>
<main>
    
    <p>
        Here were show one of the applicationa of this ML model i.e, recognising 
        last 2 digits in postal card when written in Kannada.<br>
    </p>
  <a href="/index">Get Started!!</a>
</main>
    <!--<button onclick="indexpg()"></button>

  <script>
    function indexpg() {
      window.location.href ="/index";
    }
    </script>-->
    
</body>
</html>